@{
    ViewBag.Title = "Student Database";
}

<style>
    span.field-validation-error {
        color: red;
    }
</style>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div style="width: 90%; margin: 0 auto;">
@*Search Area*@
    <div style="background-color: #f5f5f5; padding: 20px">
        <h2>Search Panel</h2>
        <table>
            <tbody>
            <tr>
                <td>Student ID</td>
                <td><input type="number" id="searchID"/></td>
                <td>Title</td>
                <td>
                    <select id="searchTitle" style="width: 200px">
                       <option value="">선택</option>
                    </select>
                    @*Here I have made this select box with some static data for make this exaple simpler.
                            you can fill it from database data*@
                </td>
                <td>
                    <input type="button" value="Search" id="btnSearch" class="btn btn-default"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="tablecontainer">
    @Html.ActionLink("Add New Student", "Save", "Student",new { enrollId = 0 }, new {@class= "popup btn btn-primary"})
    <table id="schoolList" class="table table-responsive table-striped">
        <thead>
        <tr>
            <td>EnrollmentId</td>
            <td>StudentId</td>
            <td>CourseId</td>
            <td>LastName</td>
            <td>FirstMidName</td>
            <td>EnrollmentDate</td>
            <td>Title</td>
            <td>Credits</td>
            <td>Grade</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script src="~/static/dBTableProcess.js" type="text/javascript"></script> 
}
