<link href="../../Content/Site.css" rel="stylesheet" />
<script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

<script type="text/javascript">
    
    $(document).ready(function () {
        $.get("../api/cookies/cookie").success(function(data) {
            console.log(data);
        }).error(function(jqXhr, textStatus, err) {
            console.log(err);
            console.log(jqXhr);
        });
    });
</script>

<h2>Cookie Test</h2>