@*Web API 호출*@
<link href="../../Content/Site.css" rel="stylesheet" />
<script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON("../api/products/getall",
                function (data) {
                    $.each(data, function (key, val) {
                        var str = val.Name + ': $' + val.Price;
                        $('<li/>', { text: str })
                            .appendTo($('#products'));
                    });
                });
        });
    
        function find() {
            var select = $('#value option:selected').val();
            var selectVlaue = $('#selectVlaue').val();
            var param = '';
            if (select == 'id') {
                param = '../api/products/getid/' + selectVlaue;
            } else {
                param = '../api/products/getcategory?category=' + selectVlaue;
            }

            $.getJSON(param,
                function (data) {
                    $.each(data,function(key, value) {
                        var str = value.Name + ': $' + value.Price;
                        $('#result').text(str);
                    });
                })
                .fail(
                    function (jqXhr, textStatus, err) {                                          
                        $('#result').text('Error: ' + err);
                    });
        }

        function deleteProduct() {
            $.post('../api/products/delete', {"" : $('#selectVlaue').val()})
                .success(function (data) {                   
                    $('#result').text(data);
                    location.reload();
                })
                .error(function (jqXhr, textStatus, err) {
                    
                    $('#result').text('Error: ' + err);
                });
            
        }
    </script>

    <p>@Html.ActionLink("AddProduct", "AddProduct", "Home") ||
    @Html.ActionLink("UpdateProduct", "UpdateProduct", "Home")</p>
<div class="main-content">
    <div>
        <h1>All Products</h1>
        <ul id="products"/>
    </div>
    <div>
        <select id="value">
            <option value="id">ID</option>
            <option value="category">Category</option>
        </select>
        <input type="text" id="selectVlaue" size="5"/>
        <input type="button" value="Search" onclick="find();"/>
        <input type="button" value="Delete" onclick="deleteProduct();"/>
        <p id="result"/>
    </div>
</div>