<link href="../../Content/Site.css" rel="stylesheet" />
<script src="../../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("../api/products/getall",
            function (data) {
                var selectHtml = '<select id="selectId"  style="width: 130px" onchange="idChange();">';
                selectHtml += '<option value="select">선택</option>';
                $.each(data, function (key, val) {
                    selectHtml += '<option value=' + val.Id + '>' + val.Id + '</optrion>';
                });
                selectHtml += '</select>';
                $('#idList').html(selectHtml);
            });
    });

    function idChange() {
        var id = $('#selectId option:selected').val();
        console.log(id);

        $.getJSON('../api/products/getid/' + id,
                function (data) {
                    $.each(data,function(key, value) {
                        $('input[name=name]').val(value.Name);
                        $('input[name=category]').val(value.Category);
                        $('input[name=price]').val(value.Price);
                    });
                })
            .fail(
                function (jqXhr, textStatus, err) {
                    $('#result').text('Error: ' + err);
                });
    }
    
    
    function updateSubmit() {
        var id = $('#selectId option:selected').val();
        var name = $.trim($('input[name=name]').val());
        var category = $.trim($('input[name=category]').val());
        var price = $.trim($('input[name=price]').val());

        if (name == '' || category == '' || price == '') {
            return false;
        }

        $.post('../api/products/put', { id: id, name: name, category: category, price: price })
            .success(function (data) {
                location.replace('index');
            })
            .error(function () {
                $('#message').text("Error posting the update.");
            });
        return false;
    }
</script>

<h1>Update Product</h1>
<form id="updateProduct" method="post">
    <div>
        <label>ID</label>
    </div>
    <div id="idList">
        
    </div>
    <div>
        <label>Name</label>
    </div>
    <div>
        <input name="name" type="text" />
    </div>
    <div>
        <label>Category</label>
    </div>
    <div>
        <input name="category" type="text" />
    </div>
    <div>
        <label>Price</label>
    </div>
    <div>
        <input name="price" type="text" />
    </div>
    <div>
        <input type="button" value="Submit" id="submit" onclick="updateSubmit();" />
    </div>
</form>
<div id="message"></div>
