@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<form name="TestParameter">
    <table id="valueTable">
        <tr>
            <td><input name="in_val1" id="in_val1" value="a" /></td>
            <td><input id="output_val1" disabled="true" /></td>
        </tr>
        <tr>
            <td><input id="in_val2" value="b" /></td>
            <td><input id="output_val2" disabled="true" /></td>
        </tr>
        <tr>
            <td><input id="in_val3" value="c" /></td>
            <td><input id="output_val3" disabled="true" /></td>
        </tr>
        <tr>
            <td><input id="in_val4" value="d" /></td>
            <td><input id="output_val4" disabled="true" /></td>
        </tr>
        <tr>
            <td><input id="in_val5" value="e" /></td>
            <td><input id="output_val5" disabled="true" /></td>
        </tr>
        <p><input type="button" id="btnOk" value="Click" /></p>
    </table>
</form>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>