@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<form name="TestParameter">
    <table>
        <tr>
            <td><input name="value1"/></td>
            <td><input name="value1_1" disabled="true"/></td>
        </tr>
        <tr>
            <td><input name="value2" /></td>
            <td><input name="value2_1" disabled="true"/></td>
        </tr>
        <p><input type="button" id="btnOk" value="Click"/></p>
    </table>
</form>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>